@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Random r = new Random();
    int rInt = r.Next(0, Model.Products.Count);
}

<div class="">
    
    @*<align--moz-border-radius="container">
            <div class="row">
            <div class="col-sm-3">
	            <!-- Category -->
	          align-selfself class="single category">
		            <h3 class="side-title">Läsk</h3>
		            <ul class="list-unstyled">
			            <li><a href="" title="">Fanta</a></li>
			            <li><a href="" title="">Coca Cola</a></li>
			            <li><a href="" title="">Sprite</a></li>
		            </ul>
               </div>
            </div> 
            </div>
            </div>*@

            <div style="width:1200px; height: 400px; background-image: linear-gradient(#7CDDFF, #05BDF6); border-radius: 30px" class="d-flex align-items-center justify-content-around">
                <h1 style="font-size: 120px; color: white; margin-left: 20px">TASTE THE <br/> POWER</h1>
                <div style="position: relative; text-align: center;">
                    <img src="@Model.Products[rInt].ProductImage" style="width:50%; height: 90%;" class=""/>
                    <div style="position: absolute; top:110%; left: 50%; transform: translate(-50%, -50%); text-decoration: underline; font-weight: bold; font-size: 25px; color:white;">@Model.Products[rInt].ProductName</div>
                    <div style="position: absolute; top:125%; left: 50%; transform: translate(-50%, -50%); text-decoration: underline; font-weight: bold; font-size: 15px; color:white;">Stock: @Model.Products[rInt].Stock buy now, only $@Model.Products[rInt].Price<br /> before it is gone forever!</div>
                </div>
                
                
            </div>    
               

</div>
