@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    
    @*<align--moz-border-radius="container">
            <div class="row">
            <div class="col-sm-3">
	            <!-- Category -->
	          align-selfself class="single category">
		            <h3 class="side-title">Läsk</h3>
		            <ul class="list-unstyled">
			            <li><a href="" title="">Fanta</a></li>
			            <li><a href="" title="">Coca Cola</a></li>
			            <li><a href="" title="">Sprite</a></li>
		            </ul>
               </div>
            </div> 
            </div>
            </div>*@
            <div style="width:1200px; height: 400px; background-image: linear-gradient(#7CDDFF, #05BDF6); border-radius: 30px" class="d-flex align-items-center justify-content-around">
                <h1 style="font-size: 120px; color: white; margin-left: 20px">TASTE THE <br/> POWER</h1>
                <div style="position: relative; text-align: center;">
                    <img src="https://i.ibb.co/6Wqb5BM/coca-cola-can-white-background-chisinau-moldova-november-flavored-soft-drink-created-company-6414505.jpg" style="width:35%; height: 90%;" class=""/>
                    <div style="position: absolute; top:95%; left: 50%; transform: translate(-50%, -50%); text-decoration: underline; font-weight: bold;">Coca Cola</div>
                </div>
                
                
            </div>    
               

</div>
