@page
@model Sodashop.UI.Pages.Login.LoginModel
@{
}

<div class="container">
    <h1>Customer login</h1>
    <form asp-page-handler="Login">
        <div class="form-group col-sm-3">
            <label asp-for="user.Email">Email address:</label>
            <input asp-for="user.Email" class="form-control" id="">
            <label asp-for="user.Password">Password:</label>
            <input asp-for="user.Password" class="form-control" id="" />
            <br />
            <span asp-validation-for="user.Email" class="@Model.FeedBackClass" role="alert">@Model.FeedBack</span>
            <br />
            <br />
            <button type="submit">Login</button>
        </div>
    </form>

</div>